{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} 구글 글꼴 {% endcomment %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <title>밸런스 게임</title>
  {% bootstrap_css %}
</head>
<body id='bodycolor'>

  <div class= 'container'>
    {% block contents %}
    
    {% endblock contents %}
  </div>

<script src="{% static 'js/index.js' %}"></script>
{% bootstrap_javascript %}
</script>
</body>
</html>