{% extends 'base.html' %}
{% load humanize %}
{% load hashtag_link %}

{% block content %}
  <h2>DETAIL</h2>
  <h3>{{ article.pk }} 번째 글</h3>
  <hr>
  <p>제목 : {{ article.title }}</p>
  {% comment %} 근데 이대로 치면, django가 꺽쇠가 위험 인자로 여겨서|safe 옵션도 줘야한다. {% endcomment %}
  <p>내용 : {{ article|hashtag_check|safe }}</p>
  <p>작성시각 : {{ article.created_at|naturalday }}</p>
  <p>수정시각 : {{ article.updated_at|naturaltime }}</p>
  <hr>
  {% comment %} Like Section {% endcomment %}
  <form action="{% url 'articles:like' article.pk %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-white">
      {% if request.user not in article.like_users.all %}
        <i class="far fa-heart"></i>
      {% else %}
        <i class="fas fa-heart" style="color: red;"></i>
      {% endif %}
    </button>
  </form>
  <p>{{ article.like_users.all |length }} 명이 좋아합니다.</p>
  <div>
  {% comment %} 
  
  {% for like in article.like_users.all %}  <= 여기서 like는 유저이다.
  {% for like in article.like_set.all %} <= 이건 like 테이블을 역참조 하는 것이므로, like는 Like 객체이다.
  역참조 규칙에 따라서 " 참조할 테이블 소문자 형태 _set " 으로 1 테이블에서 N 테이블로 접근이 가능하다.
  {% endcomment %}
    {% for like in article.like_set.all %} 
      <span>
        유저 : {{ like.user }} | 좋아요 누른 시각 : {{ like.created_at |naturaltime }}
      </span>
    {% endfor %}
  </div>
  <hr>
  {% if request.user == article.user %}
    <a href="{% url 'articles:update' article.pk %}" class="btn btn-primary">[UPDATE]</a>
    <form action="{% url 'articles:delete' article.pk %}" method="POST">
      {% csrf_token %}
      <button class="btn btn-danger">DELETE</button>
    </form>
  {% endif %}
  <a href="{% url 'articles:index' %}">[back]</a>
  <hr>
  <h4>댓글 목록</h4>
  <p>{{ comments|length }}개의 댓글이 있습니다.</p>
  <ul>
    {% for comment in comments %}
      <li>
        {{ comment.user }} - {{ comment.content }}
        {% if request.user == comment.user %}
          <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST" class="d-inline">
            {% csrf_token %}
            <input type="submit" value="DELETE">
          </form>
        {% endif %}
      </li>
    {% empty %}
      <p>아직 댓글이 없네요...</p>
    {% endfor %}
  </ul>
  <hr>
  {% if request.user.is_authenticated %}
    <form action="{% url 'articles:comments_create' article.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인 하세요.]</a>
  {% endif %}
{% endblock %}
  
