* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.container {
  width: 1200px;
  margin: 200px auto;

}
/* 여기서부터 내가 만든거 */
h4{
  font-weight: bold;
  font-size: 20px;
  font-family: 'Arial';
}

p{
  font-family: 'Arial';
}
.card{
  width:700px;
  border : 2px dotted black;
}
/* height를 설정하지 않으면,height는 child 크기 맞춰 자동으로 늘어난다. */

.card-nav{
  background-color: rgb(25, 139, 25);
  text-align: center;
}

.card-header{
  /* box-sizing?? 아 이미 되어있네. */
  width: 700px;
  height: 400px;
  display: inline-block;
  padding-top: 18px;
  padding-left: 18px;
  padding-right: 18px;
}

.card-img-description{
  height: 70px;
  background-color: green;
  color: white;
  text-align: center;
  line-height: 35px;

}
.card-img{
  width:100%;
  height:100%;
  display: block; 
  /* 블록은 부모의 넓이 꽉 채우고, 크기 설정 가능
  인라인은 그게 불가능. 근데 이미지인 경우에는 인라인할때 여백 생김 */
}
.card-body{
  margin-top: 36px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
}
.card-body-title > h4 {
  margin-right: 250px;
  display: inline;
  
   /*자식 선택자 사용. */
  }
.card-body-title > p{
  margin-left: 100px;
  display: inline;
}

.card-body-content{
  display: inline-block;
  background-color: pink;
  padding: 5px;
  margin-top: 10px;

  

}
.card-footer{
  height: 30px;
  text-align: end;
  line-height: 30px;
  color: white;
  background-color: green;
  padding-right: 7px;
}
/* 외부 블럭이랑 상호작용하는것은 margin을 쓴다. */