{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% bootstrap_css %}
  <title>Document</title>
</head>
<body>
  <div class="container">
    {% if user.is_authenticated %}
      <p>{{ request.user }} 님 안녕하세요.</p>
      <form action="{% url 'accounts:logout' %}" method="POST">
        {% csrf_token %}
        <button>Logout</button> 
      </form>
      <form action="{% url 'accounts:delete' %}" method="POST">
        {% csrf_token %}
        <button>회원탈퇴</button>
      </form>
      <a href="{% url 'accounts:update' %}">회원정보 수정</a>
      {% comment %}  뭐지? 근데 버튼에 type sumbit 안줘도 되나? {% endcomment %}
      {% comment %} 
        <a href="{% url 'accounts:logout' %}">로그아웃</a> 
      {% endcomment %}
    {% else %}
      <a href="{% url 'accounts:login' %}">로그인</a>
      <a href="{% url 'accounts:signup' %}">Sign up</a>
    {% endif %}


    {% comment %} 

    이건 위에꺼랑 완전 동일하다.
    <p>{{ user }}님 안녕하세요.</p> 
    
    {% endcomment %}
    {% block content %}
    {% endblock %}
  </div>
  {% bootstrap_javascript %}
</body>
</html>
