* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.container {
  width: 1200px;
  margin: 200px auto;

}
/* 여기서부터 내가 만든거 */
h4{
  font-weight: bold;
  font-size: 20px;
  font-family: 'Arial';
}
p{
  font-family: 'Arial';
}
.card{
  width: 700px;
  border: 2px dashed black;
  margin: auto; 
  /* margin : auto --> 다시 말하자면 중앙정렬 */
}

.card-nav{
  background-color: green;
  text-align: center;

}
/* 내부 여백은 padding! 외부 여백은 margin! */
.card-header{
  padding-top: 18px;
  padding-left: 18px;
  padding-right: 18px
}

.card-img-description {
  background-color: green;
  height:70px;
  text-align:center;
  line-height: 35px;
  /* 만약에 line-height를 70px으로 주면 두개의 h4에 
  line-height가 70px씩 들어가므로 난리가 난다. */
  /* %로 주는거보다 px로 주는게 더 확실하다. */
  /* 내일 flex 배우면 이런 고민 안해도 된다...오늘 빡공해야겠네 */

}
.card-img{
  width: 100%;
  height: 330px;
  display: block;
}
.card-body{
  margin-top: 36px;
  padding-left:18px;
  padding-right: 18px;
  padding-bottom: 18px
}

.card-body-title > h4,
.card-body-title > p {
  display: inline-block;
  width:50%;
}
/* card-body-title> h4,p 로 하면
card-body-title 하위의 h4의 모든 p가 됨.
그래서 card-body-title>p,h4는
.card-body-title 하위의 p의 모든 h4가 됨.
서로 다른 지침이 된다. 나는 p와 h4를 따로 따로
뽑고 싶어서 따로 자식 식별자를 설정한거다. */
.card-body-title > p{
  text-align: right;
}

.card-body-content >p{
  background-color: salmon;
  padding: 4px;
  margin-top: 12px;
  

}
.card-footer{
  background: skyblue;
  text-align: right;
  padding-right: 18px;
}
/* 외부 블럭이랑 상호작용하는것은 margin을 쓴다. */