<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand" href="{% url 'accounts:index' %}">Awesome Local Web</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex align-items-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'accounts:index' %}">Home</a>
        </li>
        {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-align-center" href="{% url 'accounts:update' %}">회원 정보 수정</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-align-center" href="{% url 'accounts:password' %}">비밀번호 변경</a>
          </li>

          {% comment %} 
          a 태그를 POST로 보내는 방법을 몰라서, 어쩔수 없이 button을 쓰는데, 나중에 JS 배우면 a태그도 POST로 보낼 수 있다고 함. 
          기대되는구만
          {% endcomment %}
          <form action="{% url 'accounts:delete' %}" class='m-0'  method='POST'>
            {% csrf_token %}
            <li class="nav-item" >
              <button class="nav-link btn btn-light" >회원 탈퇴</button>
            </li>
          </form>
          <span class="navbar-text ms-5">
              {{user}} 님, 환영합니다.
          </span>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
          </li>
        {% endif %}
      </ul>
        <div class= 'd-flex align-items-center'>
        <form class= 'd-flex justify-contents-center m-0'>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
    </div>
  </div>
</nav>