{% extends 'base.html' %}
{% block contents %}

<h1  class ='p-2' id='cssbox'>
  <p>CSS</p>
  <p>IS</p>
  <p>AWESOME</p>
</h1>
<h1 class = 'title text-center my-5 box p-3'>{{ question }}</h1>
<div class = 'row'>
  {% for answer in answers %}
  <div class = 'col d-flex justify-content-center box mx-3' id='{% cycle 'rect1' 'rect2' 'rect3'%}' >
    <form action="{% url 'vote:counter' question.pk answer.pk %}" method="POST">
      {% csrf_token %}
      <p class= 'text-center'>
        {{ answer.answer_text }}
        <hr>
        <p>
          득표 : {{ answer.vote }}
        </p>
      </p>
      <p> 비율 : {{ answer.percent }} % </p>
      <p class= 'd-grid gap-2'>
        <button>투표</button>
      </p>
    </form>
  </div>
  {% endfor %}
</div>
<div class = 'box my-3 '>
  <p class = 'my-0 text-center text-align'> 총 득표 : {{ total }} </p>
</div>
{% endblock contents %}